---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    {% if post.hide == null or post.hide == false %}
        <article class="post">
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

          <div class="post-content clearfix">
            {% if post.thumbnail %}
              {% assign thumbnail_url = post.thumbnail | replace: 'http://', 'https://' %}
              <div class="thumbnail">
                <a href="{{ site.baseurl }}{{ post.url }}">
                  <img src="https://res.cloudinary.com/dvwv5cne3/image/fetch/w_300,h_200,c_fill,g_auto,f_auto,q_auto/{{ thumbnail_url }}" alt="{{ post.title }}">
                </a>
              </div>
            {% endif %}

            <div class="excerpt">
              {{ post.excerpt | strip_html | truncatewords: 60 }}
            </div>
          </div>

          <div class="post-meta">
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d.%m.%Y" }} - 
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Continue reading 👉</a>
          </div>
        </article>
      {% endif %}  
  {% endfor %}

  <!-- pagination -->
  {% include pagination.html %}
</div>