---
layout: default
---

<!-- start feedwind code --> 
<script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Nahr%C3%A1v%C3%A1m%20%C4%8Dl%C3%A1nky" data-fw-param="168280/"></script> 
<!-- end feedwind code -->

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  {% if page.categories contains "AI" %}
  <div class="posts">
    <blockquote>
      <p>💡 Firemní <a href="https://www.aivefirmach.cz/">workshopy o umělé inteligenci</a> - pojďme se zamyslet nad tím, jak se vaší firmy dotkne AI a jak se na to připravit!</p>
    </blockquote>
  </div>
  {% endif %}

  <div>
    <p class="author_title">{{site.author}}  ·
{% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d.%m.%Y" }}

       {% if page.path %}
      <a href="{{ site.github_repo }}/blob/main/{{ page.path }}" target="_blank">
        Opravit 📃
      </a>
  {% endif %}
    
    </p>

    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Aktualizováno: {{ page.last_modified_at | date: "%-d.%-m.%Y" }})</p>

    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/rubrika/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
   
  </div>

  {% if page.thumbnail %}
  {% assign thumbnail_url = page.thumbnail | replace: 'http://', 'https://' %}
  <div class="thumbnail-strip">
    <img src="https://res.cloudinary.com/dvwv5cne3/image/fetch/w_1200,h_300,c_fill,g_auto,f_auto,q_auto/{{ thumbnail_url }}" alt="{{ page.title }}">
  </div>
{% endif %}

  <div class="entry">

    {{ content }}



  </div>


<!-- include welcomments/comments.html website_id = "ztUcqjd5JisGO2s1U7LvUxySG" -->


  

  <div>
    <p><span class="share-box">Share article:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>

    <p>
    <div class="PageNavigation">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> |
      {% endif %}
      
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>
    </p>


  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

</article>
